
conda.enabled = true

// Make sure Docker doesn't use root.
process.container = 'ngritti/pymage-training'
// docker.runOptions    = '-u $(id -u):$(id -g)'
// docker.sudo = true
containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}

// Use a local or cloud container.
// process.container = ...

// Where to cache the singularity.
// singularity.cacheDir = ...
