
conda.enabled = true

singularity{
    enabled = true
    runOptions = "--bind $PWD"
    autoMounts = true
}

process{
    // Make sure Docker doesn't use root.
    container = 'ngritti/pymage-training'

    // Make sure to mount the drive where the data are!
    // And make sure it has the right permissions!
    // e.g. containerOptions = '-v /home/:/home/' if ont he local machine
    // The following is for the server space:
    // containerOptions = '-v /g:/g'

    // The following prevents the Docker from running as root
    // containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
}

// Where to cache the singularity.
// singularity.cacheDir = ...
